
*{
	box-sizing: border-box;
}

.highlight{
	background-color:darkgreen;
	color: white;
	text-align: center;
}


.center{
	text-align: center;
}

a:link, a:visited{
	text-decoration:none;
	background-color:darkgreen;
	color:white;
	font-style:italic;
	border:1px solid blue;
	display:inline-block;
	width:200px;
	margin-bottom:10px;
	text-align:center;
	
}
a:hover, a:active {
	background-color: white;
	color: green;
	cursor:pointer;
}

/*body {
	background-color: palegreen;
	text-align:center;
	font-family:"Verdana", sans-serif;
	padding:40px;
	border: 20px solid black;
	margin:40px;
	box-sizing: border-box;*/

article {
	background-color: palegreen;
	text-align:center;
	font-family:"Verdana", sans-serif;
	padding:40px;
	border: 20px solid black;
	margin:40px;
	box-sizing: content-box;

}
}
h1 {
	font-style:italic;
	font-size:100px;
	color: darkgreen;
	text-align: center;

}
h3 {
	font-size:50px;
	font-style:italic;
	text-align:center;
	color: white;
	background-color:darkgreen;
}
h2{
	font-size:40px;
	color: darkgreen;
	text-align: center;
}


div li {
	list-style: none;
}


p{
	color: solid blue;
	font-size:20px;
	font-weight:bold;
}
#section1 {
	background-color:white;
	border:1px solid black;
	padding:10px;
}

#section2{
	background-color:white;
	border:1px solid black;
	padding:10px;
}

#section3{
    background-color:white;
	border:1px solid black;
	padding:10px;
}
#aside1{

	background-color:white;
	border:1px solid black;
	padding:10px;
	float: left ;
}
#section4{
	background-color:white;
	border:1px solid black;
	padding:10px;
}
#section5{
background-color:white;
	border:1px solid black;
	padding:10px;
}
#section6{
background-color:white;
	border:1px solid black;
	padding:10px;
}
#section7{
background-color:white;
	border:1px solid black;
	padding:10px;
}
#section8{
background-color:white;
	border:1px solid black;
	padding:10px;
}
footer {
	background-color: palegreen;
	text-align:center;
	font-family:"Verdana", sans-serif;
	padding:40px;
	border: 20px solid black;
	margin:40px;
	box-sizing: border-box;

}
body{
background-color:darkgreen;
}
header{
	background-color: palegreen;
	text-align:center;
	font-family:"Verdana", sans-serif;
	padding:40px;
	border: 20px solid black;
	margin:40px;
	box-sizing: border-box;
}
section #top{
	font-style:italic;
	font-size:100px;
	color: darkgreen;
	text-align: center;
	background-color: palegreen;
	text-align:center;
	font-family:"Verdana", sans-serif;
	padding:40px;
	border: 20px solid black;
	margin:40px;
	box-sizing: content-box;
}